{% extends 'base.html' %}

{% block content %}
    <h3>
        <p>Username: {{ data.username }}</p>
        <p>First Name: {{ data.first_name }}</p>
        <p>Last Name: {{ data.last_name }}</p>
        <p>Email: {{ data.email }}</p>
        <label for="points">Points: </label>
        <input id="points" type="number" name="points" min="0" value={{ data.profile.points }}>
        <input id="savebutton" type="submit" value="Save">
    </h3>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
    var token = '{{csrf_token}}';
    $('#savebutton').click(function(){
    var points;
    points = document.getElementById("points").value;
    $.ajax(
        {
            headers: { "X-CSRFToken": token },
            type:"PUT",
            url: "/tsilevart/users/" + {{ data.pk }} + "/",
            data:{
                 points: points
            },
            success: function( data )
            {
                alert("User successfully updated!")
            }
         }
         )
    });
</script>
{% endblock %}

